body {
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
  text-align: center;
  padding: 40px;
}

h1 {
  font-family: "Pacifico", cursive;
  color: #243b55;
  font-size: 2.5rem;
  margin-bottom: 30px;
}

.schedule {
  display: grid;
  grid-template-columns: 100px repeat(5, 1fr);
  grid-auto-rows: 50px;
  gap: 10px;
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}

.header {
  font-weight: bold;
  background-color: #ffdfea;
  color: #243b55;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.time {
  background-color: #b3ecff;
  font-weight: bold;
  color: #243b55;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell {
  background-color: #ffdfea;
  border-radius: 20px;
}

.yellow{
    background-color: #fff6b3;
}

.note {
  background-color: #b3ecff;
  border-radius: 20px;
  width: 90%;
  max-width: 900px;
  margin: 25px auto 0;
  text-align: left;
  padding: 10px 15px;
  font-weight: 600;
  color: #243b55;
}
