div{
    border: 20px solid red;
    margin: 20px;
    padding: 20px;
}

.box {
    border: 20px solid blue;
    margin: 50px 20px 30px 10px;
    padding: 20px;
    width: 200px;
    box-sizing: border-box;
    background-color: red;
    position: static
}