.outer{
    border: 10px solid red;
    width: 300px;
    height: 150px;
    background-color: lightyellow;
    position: static;
}

.inner{    
    border: 10px solid blue;
    width: 300px;
    height: 150px;
    background-color: lightyellow;
    position: static;
}