.container{
    display: grid;
    background-color: bisque;
    gap: 2em;
    grid-auto-rows: 100px;
    grid-auto-columns: 100px;
    grid-auto-flow: column;
}

.box{
    padding: 2em;
    background-color: red;
    color: white;
    text-align: center;
    border-radius: 11px;
    font-size: 20px;
}