*{
    box-sizing: content-box;
}

.container{
    max-width: 900px;
    margin: 0 auto;
}

.container > div{
    border: 2px solid black;
    border-radius: 5px;
    background-color: blue;
    padding: 1em;
    color: black;
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-template-rows: minmax(100px, auto);
}

.container .one {
    background-color: green;
    grid-column: 1 / span 1;
    grid-row:  1/ span 2;
}

.container .two {
    background-color: yellow;
    grid-column: 2 / span 2;
    grid-row: 1/3;
}

.container .three {
    background-color: red;
    grid-column: 1 / span 3;
    grid-row: 3 / span 2;
}

.container .four {
    background-color: purple;
    grid-column: 1 / span 2;
    grid-row: 7 / span 1;
}

.container .five {
    background-color: orange;
    grid-column: 3 / span 1;
    grid-row: 6 / span 1;
}

.container .six {
    background-color: pink;
    grid-column: 1 / span 3;
    grid-row: 5 / span 1;
}