* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #fff;
}

section {
    margin: 30px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    border-bottom: 1px solid #eee;
}

.logo {
    font-size: 22px;
    font-weight: bold;
    color: #0043ff;
}

nav p {
    display: inline-block;
    margin: 0 15px;
    text-decoration: none;
    color: #6586e0;
    font-size: 16px;
    font-weight: 500;
}

.download-btn {
    background: red;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.section-title {
    font-size: 22px;
    font-weight: bold;
    margin: 10px 60px ;
}

/* Order Grid */

.order-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(280px, 1fr));
    gap: 25px;
    padding: 0 40px 40px;
}

.card {
    background: #fff;
    padding: 25px;
    text-align: center;
}

.red {
    background: #e50000;
    color: #fff;
}

.card img {
    width: 150px;
    margin-bottom: 15px;
}

.card h3 {
    margin-bottom: 10px;
    margin: 10px 60px ;
}

.card p {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 15px;
}

.card button {
    background: white;
    color: #e50000;
    border: none;
    padding: 8px 18px;
    font-weight: bold;
    cursor: pointer;
}

/* Explore Section */

.explore-grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(260px, 1fr));
    gap: 20px;
    padding: 0 40px 50px;
}

.explore-card {
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
}

.explore-card h3 {
    margin-bottom: 10px;
    margin-top: 10px;
}

.explore-card p {
    font-size: 14px;
    color: #555;
    margin-bottom: 15px;
}

.explore-card div {
    color: red;
    font-weight: bold;
    display: block;
    margin-top: 15px;
}

/* Download Section */

.download-section {
    text-align: center;
    padding: 60px 20px;
    background: #fafafa;
    display: flex;
    justify-content: space-around;
}

.download-section h1 {
    font-size: 28px;
    margin-bottom: 12px;
}

.download-section p {
    margin-bottom: 20px;
    color: #555;
}

.store-images{
    display: flex;
    justify-content: space-evenly;
    align-items:flex-end;
}

.store-images img {
    width: 150px;
    margin: 10px;
}

/* Responsive Design */

@media (max-width: 1024px) {
    .order-grid{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .order-grid{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 1024px) {
    .explore-grid{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .explore-grid{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width : 768px) {
    .download-section {
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    nav{
        display: none;
    }
}