* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    border-bottom: 1px solid #eee;
}

.logo {
    font-size: 22px;
    font-weight: bold;
    color: #0043ff;
}

nav p {
    display: inline-block;
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-size: 14px;

}

.download-btn {
    background: red;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.section-title {
    font-size: 22px;
    font-weight: bold;
    margin: 40px 40px 20px;
}

/* Order Grid */

.order-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 25px;
    padding: 0 40px 40px;
}

.card {
    background: #fff;
    padding: 25px;
    text-align: center;
}

.red {
    background: #e50000;
    color: #fff;
}

.card img {
    width: 150px;
    margin-bottom: 15px;
}

.card h3 {
    margin-bottom: 10px;
}

.card p {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 15px;
}

.card button {
    background: white;
    color: #e50000;
    border: none;
    padding: 8px 18px;
    font-weight: bold;
    cursor: pointer;
}

/* Explore Section */

.explore-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 20px;
    padding: 0 40px 50px;
}

.explore-card {
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
}

.explore-card h4 {
    margin-bottom: 10px;
}

.explore-card span {
    color: red;
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

/* Download Section */

.download-section {
    text-align: center;
    padding: 60px 20px;
    background: #fafafa;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 40px 0 40px;
}

.download-section h2 {
    font-size: 28px;
    margin-bottom: 12px;
}

.download-section p {
    margin-bottom: 20px;
    color: #555;
}

.store-buttons{
    display: flex;
    justify-content: space-evenly;
    align-items:flex-end;
}

.store-buttons img {
    width: 150px;
    margin: 10px;
}
